<h1 class="mt-4">Dashboard</h1>
<a href="/users/logout" class="btn btn-secondary">Logout</a>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <body>
    <div class="container">
      <div class="row mt-3">
      <h1 class="mt-4">My Fortune </h1>
      </div>
      <div class="row mt-3">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="img/profile.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title" id="1"><%= user.email %></h5>
              <p class="card-text">Device : <%= user.device_id %></p>
              <a href="#" class="btn btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="jumbotron">
            <h1 class="display-4">Hello, <%= user.name %> !</h1>
            <p class="lead">Wallet : <%= user._id %></p>
            <hr class="my-4">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Amount</th>
                  <th>Currency</th>
                  <th>Records</th>
                </tr>
              </thead>
              <tbody>
              	<% for (var i = 0; i < user.wallet.length; i++) { %>
                <tr>
                  <th scope="row"><%i%></th>
                  <td><%= user.wallet[i].amount %></td>
                  <td><%= user.wallet[i].currency %></td>
                  <td><%= user.wallet[i]._id %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% include ./partials/messages %>
      <div class="row mt-3">
        <div class="col-6">
          <!-- Transfer Form -->
          <h1 class="display-4 text-center">Trade</h1>
          <form action="/users/trade" method="POST">
            <div class="form-group">
              <label for="currency">Buy Currency </label>
              <input
              type="text"
              id="buy_currency"
              name="buy_currency"
              class="form-control"
              style="text-transform: uppercase;"
              placeholder="Enter Currency"
              />
            </div>
            <div class="form-group">
              <label for="password">Buy Amount</label>
              <input
              type="number"
              id="buy_amount"
              name="buy_amount"
              class="form-control"
              placeholder="Enter Amount"
              />
            </div>
            <div class="form-group">
              <label for="auth">Sell Currency</label>
              <input
              type="text"
              id="sell_currency"
              name="sell_currency"
              class="form-control"
              style="text-transform: uppercase;"
              placeholder="Enter Amount"
              />
            </div>
            <div class="form-group">
              <label for="auth">Sell Price </label>
              <input
              type="number"
              id="sell_amount"
              name="sell_amount"
              class="form-control"
              placeholder="Enter Amount"
              />
            </div>
            <div class="form-group">
              <label for="auth">Key</label>
              <input
              type="password"
              class="form-control"
              placeholder="Enter Key"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">TRADE</button>
          </form>
        </div> 
        <div class="col-6">
          <!-- Topup Form -->
          <h1 class="display-4">TOP UP!</h1>
          <form action="/users/topup" method="POST">
            <div class="form-group">
              <label for="currency">Currency</label>
              <input
              type="text"
              id="new_currency"
              name="new_currency"
              class="form-control"
              style="text-transform: uppercase;"
              placeholder="Enter Currency"
              />
            </div>
            <div class="form-group">
              <label for="password">Amount</label>
              <input
              type="number"
              id="new_amount"
              name="new_amount"
              class="form-control"
              placeholder="Enter Amount"
              />
            </div>
             <div class="form-group">
              <label for="password">Receipt PIN Authentication</label>
              <input
              type="password"
              class="form-control"
              placeholder="Enter Amount"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">TOP UP</button>
          </form>
          <hr>
          <h1>Current Trades</h1>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>BUYING</th>
                  <th>TRADING</th>
                  <th>AMOUNT</th>
                </tr>
              </thead>
              <tbody>
                <% for (var a = 0; a < user.trade.length; a++) { %>
                <tr>
                  <th scope="row"><%a%></th>
                  <td><%= user.trade[a].buy_amount +" "+ user.trade[a].buy_currency %></td>
                  <td><%= user.trade[a].sell_amount +" "+ user.trade[a].sell_currency %></td>
                  <td><%= user.trade[a]._id %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
        </div>
      </div>
      <div class="row mt-3">
        
        <div class="col">
          
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script  src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="
    sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./js/app.js"></script>
  </body>
</html>